a {
}

#cs-container {
    overflow: auto;
    padding-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#iridis-description {
    display: inline-block;
    border-radius: 100%;
}

#iridis-image {
    border-spacing: 1px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: 10px;
    vertical-align: top;
    width: 49%;
}

#excalibur-description {
    display: inline-block;
    border-spacing: 1px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: 10px;
}

#excalibur-image {
    vertical-align: top;
    width: 49%;
}

#cs-button {
    background-color: black;
    border-color: white;
    border-radius: 5px;
    color: white;
    background-clip: padding-box;
    transition: 0.5s;
    border-style: solid;
    padding: 10px;
}

#cs-button:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.cs-frame {
    background-color: black;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Fira Code";
}
