.background-paralax {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    position: fixed;
    z-index: -1;
}

.main-body {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.content-frame h1 {
    text-align: center;
}

.content-frame {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-frame-data {
    width: 50%;
    font-size: 2rem;
}
