.mib-frame {
    background-color: white;
    padding-bottom: 50px;
}

.mib-frame h1 {
    font-family: "Achilles";
}

.mib-frame p {
    font-family: "Croissant One";
}

#mib-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

#mib-container {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mib-button {
    background-color: white;
    color: black;
    background-clip: padding-box;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
}

#mib-button:hover {
    background-color: black;
    color: white;
    border-color: white;
}
