#about-header {
	text-align: center;
	overflow: auto;
	padding-bottom: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#about-logo {
	display: inline-block;
	border-radius: 100%;
	width: 15%;
}

#about-info {
	border-left: 3px solid gray;
	border-spacing: 1px;
	padding-bottom: 20px;
	padding-left: 10px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

#about-info h1::before {
	content: "";
	text-align: left;
	padding: 0px;
}

