@font-face {
    font-family: 'JMH Typewriter';
    src: url('../Assets/Fonts/JMH Typewriter-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'JMH Typewriter';
    src: url('../Assets/Fonts/JMH Typewriter-Thin.otf');
    font-weight: thin;
}

@font-face {
    font-family: 'JMH Typewriter';
    src: url('../Assets/Fonts/JMH Typewriter-Black.otf');
    font-weight: black;
}

@font-face {
    font-family: 'JMH Typewriter';
    src: url('../Assets/Fonts/JMH Typewriter.otf');
}

